html, body, #app, #app > div {
    margin: 0;
    height: 100%
}

div#background {
    width: 100%;
    height: 100%;
    background: url(../resources/02_1920x1080_72dpi.jpg) no-repeat fixed;
    overflow: auto;
}

div#pomodoroRow {
    flex-direction: column;
    border: 1px solid;
    margin: 10px;
    color: white;
    padding: 1px 5px;
}

#CircularProgress {
    display: inline-block;
    position: absolute;
    margin-left: 50%;
}

.timer-pad {
    display: flex;
    flex-direction: column;
}

.timer-pad-row {
    display: flex;
    justify-content: center;
}