html, body, #app, #app > div {
    margin: 0;
    height: 100%
}

div#background {
    background: url(../resources/2_gui_c_purplebar.jpg);
    width: 100%;
    height: 100%;
}

div#pomodoroRow {
    flex-direction: column;
    border: solid;
    margin: 10px;
    color: white;
}
